<form class="search-form">
  <mat-form-field class="game-box">
    <input matInput class ="inputfield" placeholder="Rechercher.." 
           aria-label="Game" [matAutocomplete]="auto" [formControl]="gameCtrl"
           (keyup.enter)="onSearchChange($event.target.value)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let game of filteredGames | async" [value]="game.name">
        <img style="vertical-align:middle;" aria-hidden src="{{game.flag}}" height="25" />
        <span>{{ game.name }}</span>
        <small>Genre: {{game.genre}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>