/* @nassim: Ne redimensionner que la lageur de la div ayant la classe search-form
  la disposition se fait seulement dans les composants parent. Dans la classe 
  du composant c'est seulement le style (hauteur et largeur du composant,couleur, police, etc .. ) */

 .search-form {
 /* min-width: 300px;
  max-width: 600px; */
  /* width: 150px; */
  /* padding-left: 100px;  */
}

.game-box {
  width: 300px;
}

.inputfield {
    /* width: 300px; */
    background : white;
    color: black;
}