.search-form {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  padding-left: 100px;
}

.game-box {
  width: 400px;
}

.inputfield {
    width: 300px;
    background : white;
    color: black;
}