.containerX { padding: 8px; height: 700px;}

.title { text-align: center; margin-top: 20px; margin-bottom: 20px; }

.example-margin { margin: 0 10px; }

.example-checkbox-group { display: inline-flex; flex-direction: row; }

.example-section { margin: 20px; }

.resultat { margin-top: 24px;}
