<p>
  fil-actualite works!
  Bienvenue sur votre page d'actualités ! 
  Ne manquez aucune nouvelles sur les jeux et les nouveautés qui vous intéressent !
</p>

<div class="containerX">
    
  <app-global-news></app-global-news>

  <app-personnal-news></app-personnal-news>
</div>

<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<router-outlet></router-outlet> -->