
<div class="containerX">
    <mat-card class="title">
        <mat-card-content>
            <mat-card-title>Bienvenue sur GSN, le meilleur du Gaming !</mat-card-title>
        </mat-card-content>
    </mat-card>
    
    <!-- <h2 style="text-align: center">
        Bienvenue sur votre page d'actualités ! 
    </h2> -->
    <mat-card class="grid-card">
        <mat-card-content>
            <mat-card-subtitle style="text-align:center">	
                Ne manquez plus aucune nouvelle sur les jeux et les nouveautés qui vous intéressent sur <b>gns.com</b>!
            </mat-card-subtitle>
            
            <div style="padding: 5px;">
                <nav mat-tab-nav-bar >
                    <!-- <a  mat-tab-link 
                        *ngFor="let routeLink of routeLinks; let i = index;"
                        [routerLink]="routeLink.link"
                        routerLinkActive="mat-tab-link-active"
                        #rla="routerLinkActive"
                        [active]="activeLinkIndex === i"
                        (click)="activeLinkIndex = i"
                        [routerLinkActiveOptions]="{exact: true}"
                    >
                        {{routeLink.label}}
                    </a> -->

                    <a mat-tab-link
                    *ngFor="let routeLink of routeLinks; let i = index"
                    [routerLink]="routeLink.link"
                    routerLinkActive #rla="routerLinkActive"
                    [active]="rla.isActive"
                    [routerLinkActiveOptions]="{exact: true}">
                {{routeLink.label}}
                </a>
                </nav>
                <router-outlet></router-outlet>
            </div>
        </mat-card-content>
    </mat-card>
</div>

