.containerX { padding: 8px; }

.title { 
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    background-color: #F5F5F5;
}

.mat-tab-link { width: 50%; }

/* .selectedTab {
    color: red;
} */