<!--The content below is only a placeholder and can be replaced.-->
<div class="top">

  <!-- Banniere -->
  <div class="banner">
    <app-banner></app-banner>
  </div>

  <!-- Menu navigation -->
  <div class="nav">
    <app-toolbar-menu></app-toolbar-menu>
  </div>
</div>


<main>
  <!-- Side-Nav -->
  <div class="wrapper" fxLayout="row" fxLayoutAlign="start none" >
    <div class="sideAndContent">
      <app-side-nav></app-side-nav>
    </div>

    <div class="friendList" fxFill>
      <app-friend-list></app-friend-list>
    </div>
  </div>
</main>

<footer>
  <app-bot></app-bot>
</footer>
