<div class="containerX">
  <mat-card class="title">
    <mat-card-content>
      <!-- <mat-card-title>Connexion & Inscription</mat-card-title> -->
      <mat-card-title>
        <img src="../../../../assets/img/titles/connexion-inscription.png" height="38">
      </mat-card-title>
    </mat-card-content>
  </mat-card>
    
  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-around start">
        <div class="connexion" align="center">
          <app-user-form></app-user-form>
        </div>

        <div class="sub" align="center">
          <app-user-form-subscribe></app-user-form-subscribe>
        </div>
      </div>
    </mat-card-content>
  </mat-card>    
</div>
  