<div class="containerX">
  <mat-card class="title">
    <mat-card-content>
      <mat-card-title>Connexion & Inscription</mat-card-title>
    </mat-card-content>
  </mat-card>
    
  <mat-card class="title">
    <mat-card-content>
      <div class="wrapper" fxLayout="row" fxLayoutAlign="center start">
        <div class="connexion">
          <app-user-form></app-user-form>
        </div>

        <div class="sub">
          <app-user-form-subscribe></app-user-form-subscribe>
        </div>
      </div>
    </mat-card-content>
  </mat-card>    
</div>
  