<div class="containerX">
  <!-- Template à affichcher si l'utilisateur n'est pas connecté -->
  <div *ngIf="!this.isUserLoggedIn; else loggedContent">
    <div class="friendListNotLogged">
      <p> Il semblerait que vous ne soyez pas connecté ou pas encore inscrit ! </p>

      <div class="button">
        <button mat-button (click)="seConnecter(this.isUserLoggedIn)">Connexion</button>
      </div>
    </div>
  </div>

  <!-- Template à afficher si l'utilisateur est connecté -->
  <ng-template #loggedContent>
  
    <div class="friendListLogged">
      <!-- Menu permettant de changer le status de l'utilisateur -->
      <div xLayout="row" fxLayoutAlign="start center" >
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngFor="let state of status">
            <button mat-menu-item (click)="setPlayerStatement(this.state)">
              <mat-icon>
                <div id="circle" [ngStyle]="{'background':state.icone}"></div>
              </mat-icon>
              <span>{{state.viewValue}}</span>
            </button>
          </div>
        </mat-menu>
        <!-- Affichage du pseudo -->
        <div *ngFor="let data of ArrayProfileJoueur">
            {{ data.idPseudo }}
        </div>
      </div>

      <hr>
      <!-- Affichage du status/dispo de l'utilisateur -->
      <div class="votreStatus">
          Votre status est:
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="status" fxFlexOffset="10">
          <mat-icon>
            <div id="circle" [ngStyle]="{'background':playerState.icone}"></div>
          </mat-icon>
        </div>
        <div>
            <span>{{playerState.viewValue}}</span>
        </div>
      </div>
      <hr>

      <!-- Affichage des amis du l'utilisateur -->
      <span style="text-align: center"> 
        <h3 matLine>Liste d'amis</h3>
      </span>
      <div class="friendsBlock">
        <div *ngFor="let infosJoueur of ArrayProfileJoueur">
          <div *ngFor="let friend of infosJoueur.friendList" 
                fxLayout="row" fxLayoutAlign="start center"> 
            <button class="button" mat-button (click)="onClick">
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>
                  <div id="circleFriends" [ngStyle]="{'background':friend.statusColor}"> 
                    {{ friend.status }}  
                  </div>
                </mat-icon>
                <div>
                {{ friend.pseudo }}
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>
