<div class="containerX">
  <mat-card>
    <mat-card-content>
      <!-- Template à affichcher si l'utilisateur n'est pas connecté -->
      <div *ngIf="!userIsLogged;else loggedContent" fxLayout="row" fxLayoutAlign="center center" >
        <div class="friendListNotLogged">
          <p>
            Vous devez être connecté pour accéder à ce service !
          </p>
          <!-- connexion -->
          <div>
            <a mat-button color="primary"routerLink="/login">
              <strong>Connexion </strong>
              <i class="material-icons md-24" style="color:#3E51B5;">input</i>
            </a>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <!-- <mat-card>
      <mat-card-header>
          <img matCardAvatar src="Avatar source">
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="Card wide image source">
      <mat-card-content>
          Text content
      </mat-card-content>
      <mat-card-actions align="start">
          <button mat-button (click)="onAction(event)">Action1</button>
          <button mat-button (click)="onAction(event)">Action2</button>
          
      </mat-card-actions>
      <mat-card-footer>
          Footer
      </mat-card-footer>
  </mat-card> -->

      <!-- Template à afficher si l'utilisateur est connecté -->
      <ng-template #loggedContent>
        <div fxLayout="row" fxLayoutAlign="end center" *ngFor="let user of ArrayProfileJoueur">
            <!-- avatar -->
            <mat-card-header>
                <img matCardAvatar src="../../../../assets/{{user.avatar}}">
                <mat-card-title style="text-align:center">
                  Bonjour <strong>{{user.idPseudo}}</strong>
                </mat-card-title>
                <!-- <mat-card-subtitle>Bonjour {{user.idPseudo}} !</mat-card-subtitle> -->
            </mat-card-header>
            <!-- username + btn profile -->
        </div>
        <hr>
        <!-- Icone menu + Nom menu -->
        <div fxLayout="row" fxLayoutAlign="start center">
          <div>
            <button matTooltip="Gérer votre profil" [matTooltipPosition]="position"
            mat-icon-button [matMenuTriggerFor]="menuGerer">
              <!-- <mat-icon>more_vert</mat-icon> -->
              <!-- <i class="material-icons">more_horiz</i> -->
              <!-- <i class="material-icons md-18">more_vert</i> -->
              <i class="material-icons md-18">settings</i>
            </button>
          </div>
          <!-- nom du menu  -->
          <div class="menuPamram" fxFlexOffset="2">
            Paramètres
          </div>

          
          <!-- Définition du menu des paramètres -->
          <mat-menu #menuGerer="matMenu">
            <div *ngFor="let choice of menuIcon">
              <button mat-menu-item (click)="navigateOnClick(this.choice.value)">
                <mat-icon>
                  <div><i class="material-icons md-18">{{choice.icone}}</i></div>
                </mat-icon>
                <span>{{choice.viewValue}}</span>
              </button>
            </div>
          </mat-menu>
        </div>


        <hr>

        <div class="friendListLogged">
          <!-- Menu permettant de changer le status de l'utilisateur -->
          <div fxLayout="row" fxLayoutAlign="start center">
            <div>
              <button matTooltip="Modifier statut" [matTooltipPosition]="position"
              mat-icon-button [matMenuTriggerFor]="menu">
                <!-- <mat-icon>more_vert</mat-icon> -->
                <!-- <i class="material-icons">more_horiz</i> -->
                <i class="material-icons md-18">keyboard_arrow_down</i>
              </button>
            </div>
            
            <div class="status" fxFlexOffset="2">
              <mat-icon>
                <div id="circle" [ngStyle]="{'background':playerState.icone}"></div>
              </mat-icon>
            </div>
            <div>
              <span>{{playerState.viewValue}}</span>
            </div>
            <!-- Définition du menu des status -->
            <mat-menu #menu="matMenu">
              <div *ngFor="let state of status">
                <button mat-menu-item (click)="setPlayerStatement(this.state)">
                  <mat-icon>
                    <div id="circle" [ngStyle]="{'background':state.icone}"></div>
                  </mat-icon>
                  <span>{{state.viewValue}}</span>
                </button>
              </div>
            </mat-menu>
          </div>
          <hr>

          <!-- Affichage des amis du l'utilisateur -->
          <span style="text-align: center">
            <h3 matLine>Liste d'amis</h3>
          </span>
          <div class="friendsBlock">
            <div *ngFor="let infosJoueur of ArrayProfileJoueur">
              <div *ngFor="let friend of infosJoueur.friendList"
                    fxLayout="row" fxLayoutAlign="start center">
                <button class="button" mat-button (click)="descFriends()">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>
                      <div id="circleFriends" [ngStyle]="{'background':friend.statusColor}">
                        {{ friend.status }}
                      </div>
                    </mat-icon>
                    <div>
                    {{ friend.pseudo }}
                    </div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
</div>
