.containerX {
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
  /* width: 13.5vw; */
  margin-top: 28px;
  position: fixed;
}

.friendListNotLogged {
  text-align: center;
  padding: 10px;
}

#circle {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  /* background: red; */
}

.votreStatus{
  margin-left: 23px;
}

#circleFriends {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  /* padding-left: 2px; */
  margin-top: 5px;
}

.status {
  margin-top: 10px;
}

.friendsBlock {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.button {
width: 100%;
padding: 5px;
padding-left: 20px;
}

