
<div class="containerX" fxLayout="row" fxLayoutAlign="center start">

  <div class="idItems" fxLayout="column" fxLayoutAlign="start center" >
    <form>
      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="user_pseudo" value="Pseudo">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="nom_user" value="Nom">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="prénom_user" value="Prénom">
        </mat-form-field>
      </div>

    </form>
  </div>


  <div>
    <div>
        <mat-card-title-group>
          <mat-card-title>titre</mat-card-title>
          <div class="divAvatar">
            <img class="avatar" mat-card-mat-image src="../../../assets/img/avatar/children-game_dribbble.png">
          </div>
        </mat-card-title-group>
    </div>

    <div>
      <button>Action</button>
    </div>

  </div>


</div>
