.containerX {
  padding: 8px;
}

.title{ 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #F5F5F5;    
}



/* .mat-card-title {
  margin-top: 20px;
  margin-bottom: 20px;
} */

.example-full-width {
  width: 100%;
}

.avatar {
  width: 200px;
  height: 200px;;
}

.btn{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
