
<!-- <div class="containerX" fxFlexOffset="2%" > -->
<div class="containerX">
    <button mat-button (click)="test()">test</button>


  <h2>Catalogue des jeux V2</h2>

  <form class="sortList" fxLayout="row" fxLayoutAlign="end center" >
    <mat-form-field>
      <mat-select (change)="onChange()" (onOpen)="rebuildFilterMenu()"
                  placeholder="Trier par:" [(ngModel)]="selectedValue" name="trie">
        <mat-option *ngFor="let categorie of sortBy" [value]="categorie.viewValue">
          <!-- https://github.com/angular/material/issues/2242
          utilisation de 2 méthodes pour 'reconstruire' le menu apres selection
          d'un choix,car le html et les <mat-icon> ne sont pas supportées -->

            <mat-icon class="material-icons md-24">
            {{categorie.icone}}
          </mat-icon>


          {{categorie.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <p> test: Selected value, {{selectedValue}}</p> -->
  </form>


  <!-- <mat-icon class="mat-18">sort by alpha</mat-icon> -->
  <mat-grid-list cols="3" rowHeight="350px" gutterSize="8px">
    <mat-grid-tile *ngFor="let jeu of ArrayCatalogueJeux" colspan="1" rowspan="1">
      <!-- <mat-grid-tile-header>
        <h2 mat-line>{{jeu.nom}}</h2>
      </mat-grid-tile-header> -->

      <img src="../../../assets/{{jeu.img}}" alt="jeu {{jeu.nom}}">

      <mat-grid-tile-footer>
          <!-- Site web -->

        <h1 mat-line class="titreImagette">
          {{jeu.nom}}
        </h1>
        <span mat-line class="footerIcon" fxLayout="row" fxLayoutAlign="center center">
          <div class="iconBtn">
            <!-- Site web -->
            <!-- <a mat-icon-button routerLink="."><i class="material-icons md-36">link</i></a> -->
            <button mat-icon-button class="linkIcon">
              <a href="{{jeu.siteWeb}}"> <i class="material-icons md-36">http</i> </a>
            </button>
          </div>

          <div class="iconBtn">
            <!-- Result from dialog: {{ result }} -->
            <button class="infosIcon" mat-icon-button (click)="openDialog(jeu.nom,jeu.description)">
              <i class="material-icons md-36">info</i>
            </button>
          </div>

          <!-- TODO: rendre ce boutton visible uniquement si l'utilisateur est loggé -->
          <div *ngIf="getuserIsLogged()" class="iconBtn">
            <button mat-icon-button
                    class="addIcon"
                    (click)="openSnackBar()"
                    aria-label="Jeux ajouté">
              <i class="material-icons md-36">add_circle</i>
            </button>
         </div>
        </span>
        <!-- 2 façons d'importer une icone,mat-icon étant plus
        reservé pour les formats d'icones svg -->
        <!-- <mat-icon class="material-icons md-36">info</mat-icon> -->
        <!-- <i class="material-icons md-36">info</i> -->
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>

    <!-- <h2>Catalogue des jeux version 1</h2>

    <div class="container"  fxLayout="row"
                            fxLayout.xs="column"
                            fxLayoutWrap="wrap">
      <div *ngFor="let jeu of ArrayCatalogueJeux">
        <div class="item">
          <div class="image">
            <img src="../../../assets/{{jeu.img}}" alt="jeu {{jeu.nom}}">
          </div>

          <div class="infos">
            <mat-grid-tile-footer>
              <h4 mat-line>{{jeu.nom}}</h4>

              <button mat-icon-button (click)="showDetails(model)">
                  <mat-icon>info</mat-icon>
              </button>

              <span mat-line>
                <a href="{{jeu.siteWeb}}">Site officiel</a>
              </span>
            </mat-grid-tile-footer>
          </div>
        </div>
      </div>
    </div>  -->

