.containerX { padding: 8px; }

.title{ text-align: center; margin-top: 20px; margin-bottom: 20px; }
  
.search-card { margin-bottom: 20px; }

.item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    border: 1px solid blue;

    /* équivalent: flex: 0 0 50px; */
    flex-grow: 0;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;   /* do not shrink - initial value: 1 */
    flex-basis: 50px; /* em = width/height  - initial value: auto */
}

.image > img { width: 200px; height: 200px; }

/* .boutonInfos {
    text-align: center;
} */


 .mat-grid-tile .mat-grid-tile-footer, .mat-grid-tile .mat-grid-tile-header {
    /* background: lightblue; */
    background: rgba(0,0,0,.75);
}

.sortList { margin-bottom: 30px; margin-top: 20px; padding-right: 30px; }


/* re-définition des propriétés des icones hérités de styles.css */
.material-icons.md-18 { font-size: 18px; color: rgba(219, 40, 40, 0.829); }
.material-icons.md-24 { font-size: 24px; color: rgba(219, 40, 40, 0.829); }
.material-icons.md-36 { font-size: 36px; color: rgba(219, 40, 40, 0.829); }
.material-icons.md-48 { font-size: 48px; color: rgba(219, 40, 40, 0.829); }

/* footer des mosaiques */
.footerIcon { text-align: center;}
.titreImagette { text-align: center; }
.linkIcon { padding-top: 10px }
.iconBtn { margin-right: 10px; }
/*.infosIcon { text-align: right; }
.addIcon{ text-align: right; } */


