
<!-- <div class="containerX" fxFlexOffset="2%" > -->
    <div class="containerX">
    
      <h2>Catalogue des jeux V2</h2>
      trier par: liste déroulante
      <mat-grid-list cols="3" rowHeight="350px" gutterSize="5px">
          <mat-grid-tile *ngFor="let jeu of ArrayCatalogueJeux" colspan="1" rowspan="1">
              <img src="../../../assets/{{jeu.img}}" alt="jeu {{jeu.nom}}"> 
              <mat-grid-tile-footer>
                  <h2 mat-line>{{jeu.nom}}</h2>
                  <span mat-line><a href="{{jeu.siteWeb}}">Site officiel</a></span>
                  <mat-icon>infos</mat-icon>
              </mat-grid-tile-footer>
          </mat-grid-tile>
      </mat-grid-list>
    
    <!-- <h2>Catalogue des jeux version 1</h2>

    <div class="container"  fxLayout="row" 
                            fxLayout.xs="column" 
                            fxLayoutWrap="wrap">
      <div *ngFor="let jeu of ArrayCatalogueJeux">
        <div class="item">
          <div class="image">
            <img src="../../../assets/{{jeu.img}}" alt="jeu {{jeu.nom}}">
          </div>
          
          <div class="infos">
            <mat-grid-tile-footer>
              <h4 mat-line>{{jeu.nom}}</h4>
              
              <button mat-icon-button (click)="showDetails(model)">
                  <mat-icon>info</mat-icon>
              </button>
              
              <span mat-line>
                <a href="{{jeu.siteWeb}}">Site officiel</a>
              </span>
            </mat-grid-tile-footer>
          </div>
        </div>
      </div>
    </div> -->
  </div>

