
<mat-sidenav-container class="container" >
  <mat-sidenav #sidenav class="leftSidenav" mode="side" opened="true"
               [ngStyle]="{'width': sideNavWidth + 'px', opacity: sideOpacity}"
               (mouseover)="widthUp()" (mouseleave)="widthDown()">

    <app-personnal-gamelist></app-personnal-gamelist>
  </mat-sidenav>

  <div class="sidenavContent">
    <!-- <app-catalogue-jeux></app-catalogue-jeux> -->
    <!-- <app-login-and-subscribe></app-login-and-subscribe> -->
    <!-- On affiche avec cette balise spéciale du module Router, les composants qui ont leur
    chemin référencé dans la variable const appRoutes de app.module.ts -->
    <router-outlet></router-outlet>
    
  </div>

</mat-sidenav-container>
