/* .mat-sidenav-content { background-color: black; } */

.sidenavContent {
  width: 80vw;
  /* background-color: black;  */
  background-image: url("../../../../assets/img/background.jpg");
  

    /* z-index: 1; */
    /* display: flex; */
    /* height: 100%; */
    /* align-items: center; */
    /* justify-content: center; */
  }

  .leftSidenav {
    /* 2* 64 de hauteur de toolbar + 10px de padding pour le titre */
    margin-top: 138px; 
    /* margin-left: 0px; */
    position: fixed;
    background-color: rgba(255, 95, 71, 0.863);
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    padding: 2px;
    overflow:hidden;
    z-index: 1;
    -webkit-transition: width 0.7s;
    -moz-transition: width 0.7s;
    -o-transition: width 0.7s;
    -ms-transition: width 0.7s;
    transition: width 0.7s;
  }

  .container {
    margin: 0;
    /* background-color: black; */
    background-image: url("../../../../assets/img/background.jpg");
    
    /* background-color: rgba(0, 0, 0, 0.637) */
    /* width: 80vw; */
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
  }

  /* .footer { margin-bottom: 0; position: relative;} */

