.tb {
    background-color: rgb(87, 82, 82);
}

.tb-menu {
    width: 100%;
}

.searchBlock {
    margin-left: 30px;
}
.searchBar {
    z-index: 62;
}

.param {
    padding: 6px;
}

.user-icon {
    width: 64px;
    height: 64px;
}

/* .username {
    padding-left: 10px;
    font-size: 15px;
    color : rgb(124, 104, 104);
    margin-bottom: 10px;
} */

/* .userprofil {
    padding-left: 10px;
    color: orange;
    font-size: 15px;
} */