.tb-menu { width: 100%; }

.menuBtn { margin-left: 10px; margin-right: 10px; }

.material-icons.md-18 { font-size: 18px; padding-left: 5px; }
.material-icons.md-24 { font-size: 24px; padding-left: 5px; }
.material-icons.md-36 { font-size: 36px; padding-left: 5px; }

.searchBlock { margin-left: 5%;  margin-right: 30px; }

.linkIcon { font-size: small; }

.searchBar { z-index: 62; }

.param { padding: 6px; margin-left: 60px; }

.username { font-size: smaller; padding-left: 5px; padding-right: 5px;}

.user-icon { width: 42px; height: 42px; }

.userprofil.mat-button { min-width: 1%; font-size: smaller }
