<mat-toolbar color="warn">
    <!-- <span class="tb-menu"> -->
      <div class="tb-menu" fxLayout="row" fxLayoutAlign="center center">
        <div><button mat-button>News</button></div>    
        <div><button mat-button>Forum</button></div>
        <div><button mat-button>Messages</button></div>
        
          <div class="search">
            <app-searchbar></app-searchbar>
          </div>
          <div>
            <button mat-icon-button class="linkIcon">
              <i class="material-icons md-24">search</i>
            </button>
          </div>
       
      </div>

      <!--button mat-button (click)="openDialog()">Connexion</button-->
      <!--button mat-button [matMenuTriggerFor]="loginform">Login</button>
      
      <mat-menu #loginform="matMenu">
        <button mat-button [matMenuTriggerFor]="login">Connexion</button>
        <button mat-menu-item [matMenuTriggerFor]="login">Connexion</button>
        <button mat-button [matMenuTriggerFor]="subscr">Inscription</button>
      </mat-menu-->
      
    <!-- </span> -->
</mat-toolbar>
  