<mat-toolbar class="botbar">
<!-- <div class="botbar"> -->
  <span class="bot-left">
    <img src="../../../assets/img/icons/gsn-logo.png"
      width="50px" height="50px">
  </span>
  <span class="example-fill-remaining-space"></span>
  <span class="bot-center">
    <!--essayer avec des div et utiliser le padding?-->
    <p class="bottext">
      Copyright © 2017 GNS Corporation - Société du groupe BNS
      <br />
      Jouer comporte des risques : endettement, dépendance, ... Appelez le 09 74 75 13 13 (appel non surtaxé)
    </p>
  </span>
  <span class="example-fill-remaining-space"></span>
  <span class="bot-right">
    <a class="fb" href="http://facebook.com">Facebook</a>
  </span>
  <span>    
    <a class="twitter" href="http://twitter.com">Twitter</a>
  </span>  
<!-- </div> -->
</mat-toolbar>

<!-->Pour les logos au lieu des titres, voir ceci .fb {background-image: url('/images/icones/facebook.png');}-->
