<mat-toolbar class="botbar">
  <span class="bot-left">
    <img src="../../../assets/img/icons/gsn-logo.png">
  </span>
  <span class="example-fill-remaining-space"></span>
  <span class="bot-center">
    <!--essayer avec des div et utiliser le padding?-->
    <p class="bottext">
      bot works!
      <br />
      Test
    </p>
  </span>
  <span class="example-fill-remaining-space"></span>
  <span class="bot-right">
    <a class="fb" href="http://facebook.com">Facebook</a>
  </span>
  <span>    
    <a class="twitter" href="http://twitter.com">Twitter</a>
  </span>
</mat-toolbar>

<!-->Pour les logos au lieu des titres, voir ceci .fb {background-image: url('/images/icones/facebook.png');}-->
